p {
    font: 16px sans-serif;
    font-weight: bold
}

a {
    font: 14px sans-serif;
    color: #008000
}

input[type=text] {
    border: 1px solid #999;
}

button {
    background: none;
    border: 1px solid #999;
    font: 11px sans-serif;
}